.card__grid-loader {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.participatory-space {
  &__container {
    section {
      @apply bg-cover bg-center bg-no-repeat;
    }
  }
}

.budget-summary__progressbar--meter {
  background-color: green;
}

.budget-summary__progressbar .budget-progress {
  background-color: lightgray !important;
}

.budget-summary__progressbar-marks {
  display: flex;
  justify-content: space-between;
}
