footer .mini-footer {
  background-color: var(--primary) !important;
}
footer .mini-footer .voca__footer-link  {
  text-align: left;
  display: inline-block;
  align-items: flex-start;

  span[data-external-link] {
    display: none;
  }
}
footer .mini-footer .voca__footer-logo {
  height: 32px;
}
footer .mini-footer__content {
  gap: 2rem;
}
footer .mini-footer__content > div:first-child {
  width: 33.333333%;
}
footer .voca__footer-wrapper {
  width: 66.666667%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  footer .mini-footer__content > div:first-child,
  footer .voca__footer-wrapper {
    width: 50%;
  }
  footer .voca__footer-wrapper {
    flex-direction: column;
  }
}

footer .main-footer {
  background-color: var(--primary);
  color: var(--white) !important;
  &__down {
    border-color: var(--primary);
  }
  & .text-white {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & p,
    & a,
    & span,
    & i,
    & b,
    & strong,
    & em,
    & u,
    & s,
    & blockquote,
    & ol > li::marker {
      color: var(--white) !important;
    }
    & a {
      text-decoration: underline;
    }
    & a:hover {
      opacity: 0.8;
    }
  }
}
