##
# Set of re-usable rules for decidim module development. 
# You are required to set the following CI/CD variables: 
# 
# - CROWDIN_PERSONAL_TOKEN: protected & masked. // API Token from crowdin
# - CROWDIN_PROJECT_ID: masked. // Project ID from crowdin
# - TRANSLATIONBOT_ID: masked. // Project Bot `mr-translation` user id (see in repo>members tab)
# - TRANSLATIONBOT_ACCESS_TOKEN: masked. // Project Token with name `mr-translations`
# - GEM_HOST_API_KEY: protected & masked. // 
stages:
  - lint
  - test 
  - publish
variables:
  POSTGRES_DB: decidim_test
  POSTGRES_USER: decidim
  POSTGRES_PASSWORD: "TEST-insecure_password"

services:
  - postgres:15
  - redis:latest

.development_rules:  
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
.publication_rules:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_TAG'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
##
# Lint ruby code
ruby::rubocop:  
  extends: .development_rules
  image: ruby:3.2.2
  stage: lint
  script:
    - bundle
    - bundle exec rubocop .
##
# Publish the gem un ruby gem.
ruby::rubygem:
  image: ruby:3.2.2
  stage: publish
  script:
    - echo "---" > .credentials
    - |
      echo ":ci_rubygems_api_key: $GEM_HOST_API_KEY" >> .credentials
    - chmod 0600 .credentials
    - gem build decidim*.gemspec
    - gem push decidim*.gem -k ci_rubygems_api_key --config-file .credentials
  only:
    - tags

##
# Execute rspec and expose a spec report
ruby::rspec:
  image: ruby:3.2.2 
  stage: test
  extends: .development_rules
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/coverage.xml
  variables:
    DATABASE_HOST: "postgres"
    # trunk-ignore(gitleaks/generic-api-key)
    DATABASE_PASSWORD: "TEST-insecure_password"
    DATABASE_USERNAME: "decidim"
    DISABLED_DOCKER_COMPOSE: "true"
    NODE_MAJOR: 18
    SIMPLECOV: 1
    CI: 1
  before_script:
    - apt-get update -qq && apt-get install -y ca-certificates curl gnupg
    - mkdir -p /etc/apt/keyrings
    - curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | gpg --dearmor -o /etc/apt/keyrings/nodesource.gpg
    - echo "deb [signed-by=/etc/apt/keyrings/nodesource.gpg] https://deb.nodesource.com/node_$NODE_MAJOR.x nodistro main" | tee /etc/apt/sources.list.d/nodesource.list
    - apt-get update && apt-get install -y -qq nodejs
    - npm install -g yarn --force
    - gem install bundler
    - bundle config set path 'vendor'
    - RAILS_ENV=development bundle install -j $(nproc)
    - bundle exec rake test_app
  script:
    - RAILS_ENV=test bundle exec rspec spec/models spec/forms spec/node_audit_spec.rb spec/lib spec/commands
